<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!--[if mso]><style type='text/css'>body, table, td, a { font-family: Areal, Helvetica, sans-serif !important; }</style><![endif] -->
</head>
